body {
  font-family: Verdana;
  border: 1px solid black;
}

article {
  width: 800px;
  border: 1px solid black;
}

h1 {
  color: green;
  text-align: center;
  border: 1px solid black;
}

header p {
  background-color: red;
  color: white;
  border: 1px solid black;
}

figure {
  width: 600px;
  height: auto;
  border: 3px solid black;
  padding: 5px;
}

figure img {
  width: 100%;
  height: auto;
}

p img {
  float: right;
  max-width: 60%;
  margin-left: 20px;
  margin-bottom: 32px;
  border: 1px solid black;
}
